<html lang="ko">
<head>
<style type="text/css">
        table {
            width:600px;
            margin:0;
            padding:0;
            border-spacing:0;
            border-top:1px #e0e0e0 solid;
            border-left:1px #e0e0e0 solid;
        }
        table tr {
            height:30px;
        }
        .subj {
            background:#ededed;
            width:200px;
        }
        table td {
            width:400px;
            border-bottom:1px #e0e0e0 solid;
            border-right:1px #e0e0e0 solid;
            padding:5px;
        }
        table td.btn_layer {
            width:100%;
        }
    </style>  
    <script src="/js/jquery.3.6.0.js"></script>   
    <script>
        function join(){
            setItemWithExpireTime("Join", "true", 5 * 1000)
            location.href="/hpconfirm?rtnurl=/join";
        }
        function setItemWithExpireTime(keyName, keyValue, tts) {  
            // localStorage에 저장할 객체  
            const obj = {   
                 value : keyValue, 
                 expire : Date.now() + tts  
            }   
            // 객체를 JSON 문자열로 변환  
            const objString = JSON.stringify(obj);   
            // setItem
            window.localStorage.setItem(keyName, objString);
        }
        function getItemWithExpireTime(keyName) {    
            // localStorage 값 읽기 (문자열)  
            const objString = window.localStorage.getItem(keyName);    
            // null 체크  
            if (!objString) {   
                return null;  
            }  
            // 문자열을 객체로 변환  
            const obj = JSON.parse(objString);
            // 현재 시간과 localStorage의 expire 시간 비교  
            if(Date.now() > obj.expire) {    
                // 만료시간이 지난 item 삭제    
                window.localStorage.removeItem(keyName);
                // null 리턴
                return null;
            }    
            // 만료기간이 남아있는 경우, value 값 리턴
            return obj.value;
        }
        function login() {
            if ($("input[name='userid']").val() === ''){
                alert("고객 ID를 입력해주세요")
                return;
            } else if ($("input[name='pwd']").val() === ''){
                alert("비밀번호를 입력해주세요");
                return;
            } 
            fetch('/usr/login', {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8;'
                },
                body: new URLSearchParams({
                    userid: $("input[name='userid']").val(),
                    pwd:$("input[name='pwd']").val(),
                }),
            })
            .then((response) => {
                 if (response.status === 200) {
                    let token = response.headers.get("Token");
                    // 30분 만료 로컬스토리지 생성 
                    setItemWithExpireTime("Token", token, 30 * 60 * 1000);
                 }
                 return response.json();
            })
            .then((result) => {
                if (result.code !== 200){
                    alert("로그인에 실패하였습니다.");
                    return;
                }
                location.href = "/get";
                console.log('성공:', result);
            })
            .catch((error) => {
                console.error('실패:', error);
            });
        }
        // 비밀번호 찾기
        function findPwd(){
            window.localStorage.removeItem('Token');
            location.href='/hpconfirm?rtnurl=/pwdchange';
        }
        // 아이디 찾기
        function findId(){
            location.href='/hpconfirm?rtnurl=/idchange';
        }
    </script>
</head>
<body>
        <table>    
            <tbody>
                <tr>
                    <td class="subj">아이디</td>
                    <td><input type="text" name="userid" value=""/></td>
                </tr>
                <tr>
                    <td class="subj">비밀번호</td>
                    <td><input name="pwd" type="password" value=""/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="로그인"  onclick="login()"/>
                        <input type="button" value="비밀번호찾기" onclick="findPwd()"/>
                        <input type="button" value="회원가입" onclick="join()"/>
                    </td>
                </tr>
            </tbody>
        </table>    
</body>    
</html>